<!DOCTYPE html>
<html>
	<head>
		<title>tubetim.es</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="http://tubetim.es/static/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="http://tubetim.es/static/fonts/receipt/MyFontsWebfontsKit.css">
		<link rel="stylesheet" type="text/css" href="http://tubetim.es/static/tubetimes.css">
	</head>
	<body>
		<div class="header">
			<h1>
				<span class="central">t</span><span class="circle" style="color: white">u</span><span class="district">b</span><span class="hammersmith-city" style="color: white">e</span><span class="jubilee">t</span><span class="metropolitan">i</span><span class="northern">m</span><span class="piccadilly">e</span><span class="victoria">s</span>
			</h1>
			<div class="nti">*** STAND BACK - TRAIN APPROACHING ***</div>
		</div>
		<div class="container">
			<h1>No Step Free Access</h1>
			<h4>Beta</h4>

			% if len(problems_sort) > 0:
				<table class="table table-striped">
					<thead>
						<th>Station</th>
						<th>Problem</th>
						<th>Reported</th>
					% for problem in problems_sort:
						<tr>
							<td>${problem}</td>
							<td>
								% if problems[problem]['trackernet-text']:
									${problems[problem]['trackernet-text']}
								% else:
									There is no step free access at this station.
								% endif
							</td>
							<td>
								% if problems[problem]['trackernet-time']:
									${problems[problem]['trackernet-time']}
								% else:
									${problems[problem]['twitter-time']}
								% endif
							</td>
						</tr>
					% endfor
				</table>
			% else:
				<p>
					There are currently no reported step free access issues on London Underground, London Overground or the DLR.
				</p>
			% endif

			
			% if len(resolved_sort) > 0:
			<h3>Resolved issues</h3>
				<table class="table table-striped">
					<thead>
						<th>Station</th>
						<th>Problem</th>
						<th>Resolved</th>
						<th class="muted">Time To Resolve</th>
					% for problem in resolved_sort:
						<tr>
							<td>${problem}</td>
							<td>
								% if resolved[problem]['trackernet-text']:
									${resolved[problem]['trackernet-text']}
								% else:
									There is no step free access at this station.
								% endif
							</td>
							<td>
								% if resolved[problem]['trackernet-resolved']:
									${resolved[problem]['trackernet-resolved']}
								% else:
									${resolved[problem]['twitter-resolved']}
								% endif
							</td>
							<td class="muted">
								${resolved[problem]['time-to-resolve']}
							</td>
						</tr>
					% endfor
				</table>
			% endif

			<p>Call TfL's Travel Information Centre on 0343 222 1234 if you need help planning your journey.</p>
			
			<p>Last updated: ${last_updated}</p>

			<p>
				Seen an error? Any comments? Please <a href="mailto:tubetimes@jaggedseam.com">let us know</a>
			</p>
			<p class="muted" style="font-size: smaller; line-height: 1.2em;">
				Things "coming soon" includes line colours. From an idea by Christiane Link. tubetimes Access uses data provided by Transport for London via their Trackernet service and Twitter feeds. &copy; Kirk Northrop 2013, with the exception of those assets, code and text provided by Twitter or TfL. If you want to use our transformed data in your website or app, <a href="mailto:tubetimes@jaggedseam.com" class="muted">drop us a line</a> and we'll see what we can do.
			</p>
		</div>
	</body>
</html>