<!DOCTYPE html>
<html>
	<head>
		<title>Up Down London</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap -->
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		    <script src="static/bootstrap/assets/js/html5shiv.js"></script>
		    <script src="static/bootstrap/assets/js/respond.min.js"></script>
		<![endif]-->
				
		<!-- Our stuff -->
		<link rel="stylesheet" type="text/css" href="static/fontawesome/css/font-awesome.min.css">
		% if production:
			<link rel="stylesheet" type="text/css" href="static/updown.min.css">
		% else:
			<link rel="stylesheet" type="text/css" href="static/updown.css">
		% endif
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">
			<div class="row header-box">
				<div class="col-md-6 col-md-offset-3">
						<h1>
							<i class="icon-arrow-up green"></i><i class="icon-arrow-down red"></i>
							UP DOWN LONDON
						</h1>
			 			<p class="text-muted sub-h1">Lift status at Transport for London stations</p>
				</div>
			</div>
			<div class="row menu-container">
				<ul class="col-md-6 col-md-offset-3 col-xs-12 menu">
			 		<li class="col-md-4 col-md-offset-2 col-xs-6 menu-item menu-item-active losenge-left">
			 			Status
			 		</li>
			 		<a href="/faq/" class="no-arrow no-bold">
			 			<li class="col-md-4 col-xs-6 menu-item losenge-right">
			 				FAQ
			 			</li>
			 		</a>
			 	</ul>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h2>Current Issues</h2>
					<div class="current-issues">
						% if len(problems_sort) > 0:
							% for problem in problems_sort:
								<div class="issue">
									<h3>${problem}</h3>
									<p>
										% if problems[problem]['trackernet-text']:
											${problems[problem]['trackernet-text']}
										% else:
											There is no step free access at this station.
										% endif
										<i>
											% if problems[problem]['trackernet-time']:
												${problems[problem]['trackernet-time']}
											% else:
												${problems[problem]['twitter-time']}
											% endif
										</i>
									</p>
								</div>
							% endfor
						% else:
					 		<p>
								There are currently no reported step free access issues on London Underground, London Overground or the DLR.
							</p>
						% endif
					</div>
				</div>
			</div>
			
			% if len(resolved_sort) > 0:
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h2>Resolved Issues</h2>
						<div class="resolved-issues">
							% for problem in resolved_sort:
								<div class="issue">
									<h3>${problem}</h3>
									<p>
										Step free access has now been restored at this station.
										<i>
											% if resolved[problem]['trackernet-resolved']:
												${resolved[problem]['trackernet-resolved']}
											% else:
												${resolved[problem]['twitter-resolved']}
											% endif
											<!-- <span class="text-muted">${resolved[problem]['time-to-resolve']}</span> -->
										</i>
									</p>
								</div>
							% endfor
						</div>
					</div>
				</div>
			% endif

			% if true:
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h2>Planned Maintenance</h2>
					<div class="planned-maintenance">
						<div class="issue">
							<h3>King's Cross St. Pancras</h3>
							<p>
								<i>4 April 2014</i>									
								There will be no step-free access to the Hammersmith &amp; City, Circle and Metropolitan Lines.
							</p>
						</div>
					</div>
				</div>
			</div>
			% endif

			<hr>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Call TfL's Travel Information Centre on 0343 222 1234 if you need help planning your journey.<br>
						You can also call Transport for All on 020 7737 2339 (Mon - Fri 10am - 5pm) for advice.</p>
					
					<p>Last updated: ${last_updated}</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">	
					<p>
						Seen an error? Any comments? Please <a href="mailto:tubetimes@jaggedseam.com">let us know</a> <a href="https://twitter.com/TubeLifts" class="twitter-follow-button" data-show-count="false">Follow @TubeLifts</a>
					</p>
					<p>
						<a href="/press/">Press</a>
					</p>
					<p class="text-muted" style="font-size: smaller; line-height: 1.2em;">
						From an idea by Christiane Link and inspired by <a href="http://www.ubahnaufzug.at" class="text-muted">Up Down Vienna</a>. Up Down London uses data provided by Transport for London, but is not affiliated with or endorsed by TfL. &copy; Up Down London 2014, except status updates provided by TfL. If you want to use our transformed data in your website or app, or want advice on setting up a similar site for your city <a href="mailto:tubetimes@jaggedseam.com" class="text-muted">drop us a line</a> and we'll see what we can do. <a href="/privacy/" class="text-muted">Privacy Policy</a>
					</p>
				</div>
			</div>
		</div>
	</body>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="static/jquery.fittext.js"></script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-44056681-1', 'updownlondon.com');
		ga('send', 'pageview');
	</script>
	<script>
		jQuery("h1").fitText(1.25, { minFontSize: '30px' });
	</script>
</html>