{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}Up Down London</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static "favicon.ico" %} type=" image
    /x-icon" />
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "apple-touch-icon-60x60.png" %}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "apple-touch-icon-76x76.png" %}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "apple-touch-icon-120x120.png" %}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "apple-touch-icon-152x152.png" %}"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Our stuff -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    {% if debug %}
        <link rel="stylesheet" type="text/css" href="{% static "updown.min.css" %}updown.min.css" %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "updown.css" %}">
    {% endif %}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <div class="row header-box">
        <div class="col-md-6 col-md-offset-3">
            <h1>
                <i class="icon-arrow-up green"></i><i class="icon-arrow-down red"></i>
                UP DOWN LONDON
            </h1>
            <p class="text-muted sub-h1">Lift status at Transport for London stations</p>
        </div>
    </div>
    {% block menu %}

    {% endblock %}
    <div class="row">
        {% block content %}{% endblock %}
    </div>

    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p>Call TfL's Travel Information Centre on 0343 222 1234 if you need help planning your journey.</p>

            <p>Last updated: ${last_updated}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p>
                Seen an error? Any comments? Please <a href="mailto:tubetimes@jaggedseam.com">let us know</a>. <a
                    href="https://twitter.com/TubeLifts" class="twitter-follow-button" data-show-count="false">Follow
                @TubeLifts</a>
            </p>
            <p>
                <a href="/press/">Press</a>
            </p>
            <p class="text-muted" style="font-size: smaller; line-height: 1.2em;">
                From an idea by Christiane Link and inspired by <a href="http://updownvienna.com/" class="text-muted">Up
                Down Vienna</a>. Up Down London uses data provided by Transport for London (TfL), but is not affiliated
                with or endorsed by TfL. &copy; Up Down London 2013-{% now "Y" %}, except status updates provided by
                TfL. The <a href="https://github.com/kirknorthrop/updown/" class="text-muted">Up Down source code</a> is
                partially licensed under the AGPL. If you want to use our data, or want advice on setting up a similar
                site for your city <a href="mailto:tubetimes@jaggedseam.com" class="text-muted">drop us a line</a>. <a
                    href="{% url 'privacy' %}" class="text-muted">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>
</body>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static 'jquery.fittext.js' %}"></script>
<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-44056681-1', 'updownlondon.com');
    ga('send', 'pageview');
</script>
<script>
    jQuery("h1").fitText(1.25, {minFontSize: '30px'});
</script>
</html>
