{% extends "base.html" %}

{% block menu %}
    <div class="row menu-container">
        <ul class="col-md-6 col-md-offset-3 col-xs-12 menu">
            <a href="/" class="no-arrow no-bold">
                <li class="col-md-4 col-md-offset-2 col-xs-6 menu-item losenge-left menu-item-active">
                    Status
                </li>
            </a>
            <a href="/faq/" class="no-arrow no-bold">
                <li class="col-md-4 col-xs-6 menu-item losenge-right">
                    FAQ
                </li>
            </a>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Current Issues</h2>
            <div class="current-issues">
                {% if issues %}
                    {% regroup issues by station as station_list %}
                    {% for station in station_list %}
                        <div class="issue">
                            <h3>{{ station.grouper.name }}</h3>
                            {% for issue in station.list %}
                                <p>
                                    {% if issue.text %}
                                        {{ issue.text }}
                                    {% else %}
                                        There is no step free access at this station.
                                    {% endif %}
                                    <i>
                                        {% if issue.start_time %}
                                            {{ issue.start_time }}
                                        {% endif %}
                                    </i>
                                </p>
                                {% if not forloop.last %}
                                <hr style="border-top-color: #999">
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>
                        There are currently no reported step free access issues on London Underground, London
                        Overground, Elizabeth Line or the DLR.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if resolved %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Resolved Issues</h2>
                <div class="resolved-issues">
                    {% for issue in resolved %}
                        <div class="issue">
                            <h3>{{ issue.station }}</h3>
                            <p>
                                Step free access has now been restored at this station.
                                <i>
                                    {% if issue.end_time %}
                                        {{ issue.end_time }}
                                    {% endif %}
                                </i>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if information %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Information</h2>
                <div class="planned-maintenance">
                    {% for issue in information %}
                        <div class="issue">
                            <h3>{{ issue.station }}</h3>
                            <p>
                                {{ issue.text|safe }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}