{% extends "base.html" %}

{% block title %}Press - {% endblock %}

{% block menu %}
    <div class="row menu-container">
        <ul class="col-md-6 col-md-offset-3 col-xs-12 menu">
            <a href="{% url 'home' %}" class="no-arrow no-bold">
                <li class="col-md-4 col-md-offset-2 col-xs-6 menu-item losenge-left">
                    Status
                </li>
            </a>
            <a href="{% url 'faq' %}" class="no-arrow no-bold">
                <li class="col-md-4 col-xs-6 menu-item losenge-right">
                    FAQ
                </li>
            </a>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Press</h2>
            <p>
                For press enquiries, please contact Christiane Link on <a
                    href="mailto:christiane@ortegalink.com?subject=Up Down London">christiane@ortegalink.com</a> or on
                020 7617 7344.
            </p>
            <h3>Press Release</h3>
            <p>
                Issued: 9th October 2013
            </p>
            <p>
                For Immediate Release
            </p>
            <p>
                London: New website shows broken lifts on tube, Overground and DLR at a glance
            </p>
            <p>
                Londoners have a new, one-stop source to see which tube, Overground or DLR lifts are out of service. The
                new website Updownlondon.com uses TfL's open data station information and monitors their Twitter
                accounts to give passengers who use lifts a quick overview of which lifts are out of service.
            </p>
            <p>
                Updownlondon.com is a not for profit project by journalist Christiane Link and web developer Kirk
                Northrop. "After asking TfL for over a year to provide a better overview of their broken lifts on their
                website, I had the idea to provide it myself", says Christiane Link, a journalist and wheelchair user.
                "For me as a wheelchair user it is important to see quickly which lifts are working and which aren't, as
                it saves me a lot of time avoiding those stations where lifts are broken. But I hope the website is
                useful for anybody who prefers to use lifts not escalators or stairs." At the moment TfL customers need
                to scroll through all station information or follow all Tweets by TfL to see if there is an issue with a
                lift. The project is inspired by updownvienna.com, a similar project which shows broken lifts of
                Vienna's Underground.
            </p>
            <p>
                Updownlondon.com is useful for wheelchair users but also for people with mobility impairments, older
                people, people with luggage, or parents with children and buggies. All information about broken lifts is
                also tweeted into our Twitter account @tubelifts.
            </p>
            <p>
                ##Ends##
            </p>
            <p>
                Notes to editors
            <ol>
                <li>
                    Contact: Christiane Link - christiane@ortegalink.com or 020 7617 7344
                </li>
                <li>
                    Christiane Link is a journalist, wheelchair user and accessibility campaigner. Her website:
                    www.ortegalink.com. Kirk Northrop is a developer who is passionate about open data and providing
                    solutions to make people's lives easier.
                </li>
                <li>
                    The site updates with the current information every 30 seconds. The time the page was generated is
                    displayed at the bottom for reference. Users can also see "resolved issues". These are lifts which
                    were fixed within the past 12 hours.
                </li>
                <li>
                    All broken lifts are also tweeted into one account. Please follow @tubelifts
                </li>
                <li>
                    Screenshots and head-shots available on request.
                </li>
            </ol>
            </p>
        </div>
    </div>
{% endblock %}